* {
	font-family: 'Roboto', sans-serif;
}


#goods__container {
	width: 300px;
}

#goods__input {
	font-size: 24px;
	height: 28px;
	margin-bottom: 20px;
	padding: 1.1% 2.2%;
	
}

.goods__item {
	border-bottom: 1px solid #cccccc;
	padding: 9px 20px 9px 0;
	position:relative;
}

.goods__item:last-child {
	border-bottom: none;	
}

.item-name {
	border: none;
	font-size: 24px;
	height: 28px;
	margin-bottom: 0 !important;
	outline: none;
	padding: 1.1% 2.2%;
	width: 85% !important;
}

.check-item {
	cursor: pointer;
	transform: scale(1.5);
}

li {
	list-style-type: none;
}

.check-item:checked + .item-name {
	text-decoration: line-through;
}

.checked {
	opacity: 0.4;
}